.app-des {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 30px;
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 40px; 
}

.app-services{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 30px; 
}

body{
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .app-services {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

